<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Contract Details</h2>
    <form class="form">
        <label for="desc">Description: </label>
        <input type="text" id="desc" name="desc" value="Sample value" disabled>
        <label for="startDate">Start date: </label>
        <input type="date" id="startDate" name="startDate" value="1990-01-01" disabled>
        <label for="dueDate">Due date: </label>
        <input type="date" id="dueDate" name="dueDate" value="1990-01-01" disabled>
        <div class="form-buttons">
            <a href="/contracts_departments/edit/" class="list-actions-button-edit">
                Edit
            </a>
            <a href="/contracts" class="button-cancel">
                Cancel
            </a>
        </div>
    </form>
    <table id="responsibleDepartment" class="table-list-resDept">
        <thead>
        <tr>
            <th>Responsible Department</th>
            <th>Location</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-label="Department">SampleDept</td>
            <td data-label="Location">SampleLocation</td>
        </tr>
        </tbody>
    </table>

</main>
<%- include('../../fragments/footer.ejs') %>