<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Add new employee</h2>
    <form class="form" onsubmit="return validateForm();" novalidate>
        <label for="fname">First name: <span class="required-field">*</span></label>
        <input type="text" id="fname" name="fname" placeholder="First name" required>
        <span id="errorFname" class="errors-text"></span>
        <label for="lname">Lastname: <span class="required-field">*</span></label>
        <input type="text" id="lname" name="lname" placeholder="Lastname" required>
        <span id="errorLname" class="errors-text"></span>
        <label for="phone">Phone number: <span class="required-field">*</span></label>
        <input type="text" id="phone" name="phone" placeholder="123456789" required>
        <span id="errorPhoneNumber" class="errors-text"></span>
        <label for="email">Email address: <span class="required-field">*</span></label>
        <input type="email" id="email" name="email" placeholder="enter@emial.com" required>
        <span id="errorEmail" class="errors-text"></span>
        <label for="supervisor">Supervised by: </label>
        <select name="supervisor" id="supervisor" multiple>
            <option selected value="none">--Select supervisor--</option>
            <option value="supervisor1">Jane Doe</option>
        </select>
        <label for="dept">Department: <span class="required-field">*</span></label>
        <select name="dept" id="dept" required>
            <option disabled selected value="">--Select department--</option>
            <option value="dept1">Dept1</option>
            <option value="dept2">Dept2</option>
            <option value="dept3">Dept3</option>
        </select>
        <span id="errorDept" class="errors-text"></span>
        <div class="form-buttons">
            <input type="submit" value="Add" class="button-submit">
            <a href="/employees" class="button-cancel">
                Cancel
            </a>
        </div>
    </form>

</main>
<script type="application/javascript" src="../JS/ValidationCommon.js"></script>
<script type="application/javascript" src="../JS/ValidationEmpAdd.js"></script>
<%- include('../../fragments/footer.ejs') %>