<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../public/CSS/style.css"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Employee</title>
</head>
<body>
<Header>
    <h1>TIN-Company</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/5229/5229377.png" id="WorkInProgress"
         alt="work in progress sign" width=100 height=100>
</Header>
<section>
    <nav>
        <ul>
            <li><a href="../index.ejs">Main Page</a></li>
            <li><a href="../pages/Emp/Employee.ejs" class="active">Employee</a></li>
            <li><a href="../pages/Dept/Department.ejs">Department</a></li>
            <li><a href="../pages/Contract/Contract.ejs">Contract</a></li>
        </ul>
    </nav>
</section>
<main>
    <h2>Employees</h2>
    <p>There are no records to display!</p>
    <p><a href="../pages/Emp/EmpAdd.ejs" class="button-add"> Add new employee </a></p>
</main>
<footer>
    Filip Schulz, s22455
</footer>
</body>
</html>