<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../public/CSS/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Edit Contract</title>
</head>
<body>
<Header>
    <h1>TIN-Company</h1>
    <img alt="work in progress sign" height=100
         id="WorkInProgress" src="https://cdn-icons-png.flaticon.com/512/5229/5229377.png" width=100>
</Header>
<section>
    <nav>
        <ul>
            <li><a href="../index.ejs">Main Page</a></li>
            <li><a href="../pages/Emp/Employee.ejs">Employee</a></li>
            <li><a href="../pages/Dept/Department.ejs">Department</a></li>
            <li><a class="active" href="../pages/Contract/Contract.ejs">Contract</a></li>
        </ul>
    </nav>
</section>
<main>
    <h2>Edit Contract</h2>
    <form class="form" novalidate onsubmit="return validateForm()">
        <label for="desc">Description: <span class="required-field">*</span></label>
        <input class="error-input" id="desc" name="desc" required type="text" value="Sample value">
        <span class="errors-text" id="errorDescription">Field is required!</span>
        <label for="startDate">Start date: <span class="required-field">*</span></label>
        <input class="error-input" id="startDate" name="startDate" required type="date" value="1990-01-01">
        <span class="errors-text" id="errorStartDate">Field is required!</span>
        <label for="dueDate">Due date: </label>
        <input id="dueDate" name="dueDate" type="date" value="1990-01-01">
        <span class="errors-text" id="errorDueDate"></span>
        <label for="deptContName">Responsible departments: <span class="required-field">*</span></label>
        <select class="error-input" id="deptContName" multiple name="deptContName" required>
            <option disabled selected value="">--Select departments--</option>
            <option value="dept1">Dept1</option>
            <option value="dept2">Dept2</option>
            <option value="dept3">Dept3</option>
        </select>
        <span class="errors-text" id="errorDeptContName">Field is required!</span>
        <p class="errors-text" id="errorsSummaryContract">Errors!</p>
        <div class="form-buttons">
            <input class="button-submit" type="submit" value="Save changes">
            <a class="button-cancel" href="../pages/Contract/Contract.ejs">
                Cancel
            </a>
        </div>
    </form>

</main>
<footer>
    Filip Schulz, s22455
</footer>
</body>
<script src="../../public/JS/ValidationCommon.js" type="application/javascript"></script>
<script src="../../public/JS/ValidationContract.js" type="application/javascript"></script>
</html>