<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../../public/CSS/style.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>New Employee</title>
</head>
<body>
<Header>
    <h1>TIN-Company</h1>
    <img alt="work in progress sign" height=100
         id="WorkInProgress" src="https://cdn-icons-png.flaticon.com/512/5229/5229377.png" width=100>
</Header>
<section>
    <nav>
        <ul>
            <li><a href="../index.ejs">Main Page</a></li>
            <li><a class="active" href="../pages/Emp/Employee.ejs">Employee</a></li>
            <li><a href="../pages/Dept/Department.ejs">Department</a></li>
            <li><a href="../pages/Contract/Contract.ejs">Contract</a></li>
        </ul>
    </nav>
</section>
<main>
    <h2>Add new employee</h2>
    <form class="form" novalidate onsubmit="return validateForm();">
        <label for="fname">First name: <span class="required-field">*</span></label>
        <input class="error-input" id="fname" name="fname" placeholder="First name" required type="text">
        <span class="errors-text" id="errorFname">Field is required!</span>
        <label for="lname">Lastname: <span class="required-field">*</span></label>
        <input class="error-input" id="lname" name="lname" placeholder="Lastname" required type="text">
        <span class="errors-text" id="errorLname">Field is required!</span>
        <label for="phone">Phone number: <span class="required-field">*</span></label>
        <input class="error-input" id="phone" name="phone" placeholder="123456789" required type="text">
        <span class="errors-text" id="errorPhoneNumber">Field is required!</span>
        <label for="email">Email address: <span class="required-field">*</span></label>
        <input class="error-input" id="email" name="email" placeholder="enter@emial.com" required type="email">
        <span class="errors-text" id="errorEmail">Field is required!</span>
        <label for="supervisor">Supervised by: </label>
        <select id="supervisor" multiple name="supervisor">
            <option selected value="none">--Select supervisor--</option>
            <option value="supervisor1">Jane Doe</option>
        </select>
        <label for="dept">Department: <span class="required-field">*</span></label>
        <select class="error-input" id="dept" name="dept" required>
            <option disabled selected value="">--Select department--</option>
            <option value="dept1">Dept1</option>
            <option value="dept2">Dept2</option>
            <option value="dept3">Dept3</option>
        </select>
        <span class="errors-text" id="errorDept">Field is required!</span>
        <p class="errors-text" id="errorsSummary">Errors!</p>
        <div class="form-buttons">
            <input class="button-submit" type="submit" value="Add">
            <a class="button-cancel" href="../pages/Emp/Employee.ejs">
                Cancel
            </a>
        </div>
    </form>

</main>
<footer>
    Filip Schulz, s22455
</footer>
</body>
<script src="../../public/JS/ValidationCommon.js" type="application/javascript"></script>
<script src="../../public/JS/ValidationEmpAdd.js" type="application/javascript"></script>
</html>