<%- include('../../fragments/header.ejs') %>
<main>
    <h2>Employees</h2>
    <table id="EmpsList" class="table-list">
        <thead>
        <tr>
            <th>First name</th>
            <th>Lastname</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-label="First Name">Jane</td>
            <td data-label="Lastname">Doe</td>
            <td data-label="Phone number">420692137</td>
            <td data-label="Email">sample@mail.com</td>
            <td>
                <ul class="list-actions">
                    <li><a href="/employees/details/" class="list-actions-button-details">Details</a></li>
                    <li><a href="" class="list-actions-button-delete"
                           onclick="return confirm('Are you sure?')">Delete</a></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td data-label="First Name">John</td>
            <td data-label="Lastname">Smith</td>
            <td data-label="Phone number">213742069</td>
            <td data-label="Email">sample2@mail.com</td>
            <td>
                <ul class="list-actions">
                    <li><a href="/employees/details/" class="list-actions-button-details">Details</a></li>
                    <li><a href="" class="list-actions-button-delete"
                           onclick="return confirm('Are you sure?')">Delete</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <p><a href="EmpAdd.ejs" class="button-add"> Add new employee </a></p>
</main>
<%- include('../../fragments/footer.ejs') %>